@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sign-in to your device</h1>
    <p>You have signed in to the Device code flow console application on your device. You may now close this window.</p>
</div>
